.radio-conteiner{
    display: flex;
    justify-content: space-between;
    .info-input {
        font-size: 18px;
    }
    .swith {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      
        input {
          opacity: 0;
          width: 0;
          height: 0;
        }
      
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: 0.4s;
          border-radius: 34px;
      
          &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
          }
        }
      
        .radio-new:checked + .slider {
            background-color: #45FF58;
        }
      
        .radio-new:focus + .slider {
            background-color: #45FF58;
        }

        .radio-top:checked + .slider {
            background-color: #FF7D34;
        }
        
        .radio-top:focus + .slider {
            box-shadow: 0 0 1px #FF7D34;
        }
        .radio-warning:checked + .slider {
            background-color: #F8004A;
        }
        
        .radio-warning:focus + .slider {
            box-shadow: 0 0 1px #F8004A;
        }
        .radio-available:checked + .slider {
            background-color: #545454;
        }
        
        .radio-available:focus + .slider {
            box-shadow: 0 0 1px #545454;
        }
      
        input:checked + .slider:before {
          transform: translateX(26px);
        }
      
        .slider.round {
          border-radius: 34px;
      
          &:before {
            border-radius: 50%;
          }
        }
    }
}