.back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
    button{
      background-color: #FCFF5F;
      font-family: 'KeaniaOne';
      width: 100px;
      height: 30px;
      border-radius: 50px;
      top: 44px;
      left: 60px;
      position: static;
      border: 1px solid black;
      @media (min-width: 600px) {
        position: absolute;

      }
    }
    p{
      font-family: 'KeaniaOne';
      font-size: 56px;
    }
    @media (min-width: 600px) {
      flex-direction: row;
    }
}